@font-face {
    font-family: 'TPLocation';
    src: url(Fonts/TPLocationFont.woff),
         url('Fonts/TPLocationFont.TTF') format('truetype');
}
@font-face {
    font-family: 'TPText';
    src: url(Fonts/TPText.otf);
}

/* Leaflet Modifications */
.leaflet-control-attribution.leaflet-control {
    display: none;
}
.marked {
    filter: brightness(60%)
}
.unmarked {
    filter: brightness(100%);
}
.unobtainable {
    filter: grayscale(1) contrast(150%);
}
.brightHover {
    filter: brightness(130%);
}
.leaflet-marker-icon:hover {
    filter: brightness(130%) !important;
}
.leaflet-div-icon {
    background: none !important;
    border: none !important;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background: #38352e !important;
    color: #d4d4d4 !important;
}
.leaflet-popup-close-button {
    font-size: 24px !important;
    margin-right: 1%;
}


body {
    overflow: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #c0c0c0;
    background-color: #1d1a14;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: none;
}
body img {
    -webkit-user-drag: none;
}
#map { 
    touch-action: pinch-zoom;
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    background-color: #1d1a14; 
}
/* Made by DarkZant */
#credit {
    position: absolute;
    top: 0;
    font-size: 1.25vmax;
    font-family: "TPLocation", Arial, sans-serif;
    color: #9f2aff;
    background-color: #141414;
    padding: 0.5vh 0.4vw;
    border-radius: 6px;
    margin: 1.2vh 0 0 0.5vw;
    z-index: 1000;
}
#credit a {
    color: #9f2aff;
}
#credit a:hover {
    color: #7713c9;
}
/* Submap UI */
#submap {
    position: absolute;
    margin-left: 1%;
    margin-top: 1%;
}
#dungeonName {
    display: none;
    /* display: grid; */
    place-items: center;
    position: absolute;
    top: 1vh;
    left: 0.5vw;
    width: 35vw;
    max-height: 100%;
    z-index: 900;
}
#dungeonName img {
    max-width: 100%;
    grid-area: 1 / 1;
}
#dungeonName div {
    grid-area: 1 / 1;
    text-align: center;
    color: #c7c4b2;
    text-shadow: #060501 0px 3.5px 2px;
    font-family: 'TPLocation', Arial, sans-serif;
    font-size: 2.1vw;
    letter-spacing: 0.2vw;
    z-index: 925;
}
/* Floor buttons */
.dungeonImg, .floorButton img {
    border-style: solid;
    border-width: 0.2vmax;
    border-color: #38352e;
}
#floors {   
    position: absolute; 
    width: 15vw;
    max-height: 100%;
    top: 20vh;
    left: 2vw;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    cursor: pointer;
    z-index: 900;
}    
.floorButton {  
    display: none; 
    filter: brightness(150%);
    transition: filter 0.15s, transform 0.05s;
    cursor: pointer;
}
.floorButton:hover {
    filter: brightness(225%) !important;
    transform: scale(1.05) !important;
}
.floorButton img {
    max-width: 100%;
}
.floorButton div {
    position: relative;
    right: 37%;
    color: #a4a192;
    font-size: 2.2vw;
    text-shadow: #101210 1px 3px 1px;
    font-family: 'TPLocation', Arial, sans-serif;
}

/* Submap Names */
#submapName {
    display: none;
    position: absolute;
    width: 35vw;
    z-index: 900;
    top: 1vh;
    left: 0.5vw;
}
#submapName img {
    max-width: 100%;
    height: 53.5px;
}
#submapName div {
    position: absolute;
    color: #c0bc72;
    text-shadow: #060501 0px 3.5px 2px;
    font-family: 'TPLocation', Arial, sans-serif;
    top: 0;
    left: 5vw;
    z-index: 925;
    font-size: 2.25vw;
}


/* Cave of Ordeals UI */
#caveofOrdeals {
    display: none;
    position: relative;
    top: 35dvh;
    z-index: 900;
}
#caveofOrdealsControls {
    position: absolute;
    left: 5vw;
    text-align: center;
    width: 15.75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
#caveofOrdealsButton {
    display: flex;
    filter: brightness(150%);
    transition: filter 0.15s, transform 0.05s;
    cursor: pointer;
}
#caveofOrdealsButton:hover {
    filter: brightness(225%) !important;
    transform: scale(1.05) !important;
}
#caveofOrdealsButton img {
    max-width: 100%;
}
#caveofOrdealsButton div {
    position: absolute;
    color: #a4a192;
    text-shadow: #101210 1px 3px 1px;
    font-family: 'TPLocation', Arial, sans-serif;
    right: 2vw;
    top: 0;
    z-index: 910;
}
.caveofOrdealsArrows {
    width: 5.5vw;
    cursor: pointer;
    transition: filter 0.1s, transform 0.1s;
}
.caveofOrdealsArrows:hover {
    filter: brightness(125%) !important;
    transform: scale(1.1) !important;
}
#caveofOrdealsFloorText {
    position: absolute;
    left: 75dvw;
    width: 17vw;
    font-size: 1vw;
    background-color: rgb(56, 53, 46, 0.85);
    text-align: center;
    padding: 1vw 0.75vw;
    border-radius: 10px;
}
#caveofOrdealsFloorText ul {
    padding-inline-start: 20px;
}
#caveofOrdealsFloorText b {
    text-decoration: underline;
    font-size: 1.1vw;
}
#caveofOrdealsFloorText u {
    font-size: 1.05vw;
}
/* Top right menu icons */
#menuicons {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: right;
    row-gap: 0.5dvh;
    line-height: 0.812vh;
    top: 0;
    right: 0;
    z-index: 1000;
}
.menuicon {
    display: flex;
    column-gap: 7px;
    justify-content: right;
}
.menuiconimg {
    display: grid;
    place-items: center;
    width: 1.875vmax;
    min-width: 20px;
    aspect-ratio: 1;
    border-style: solid;
    border-color: #38352e;
    border-width: 0.2vw;
    border-radius: 3px;
    padding: 0.4vmax;
    cursor: pointer;
}
.menuiconimg img {
    max-width: 100%;
}
.menuiconimg:hover {
    background-color: #2c2c2c;
}
.tt {
    margin: 0;
    background-color: #38352e;
    padding: 1.5vh 0.4vw;
    border-radius: 2px;
    opacity: 0%;
    visibility: hidden;
    height: 50%;
    align-self: center;
    font-size: 2vmin;
    transition: opacity 0.2s;
}
#setTT:has(+ #setIcon:hover),  #trackerTT:has(+ #trackerIcon:hover),
#contTT:has(+ #contIcon:hover) {
    visibility: visible;
    opacity: 100%;
}
/* General menus */
.menu {
    position: absolute;
    visibility: hidden;
    height: 100dvh;
    width: 0%;
    z-index: 1000;
    background-color: rgb(56, 53, 46, 0.85);
    border-radius: 8px;
    transition: width 0.1s;
    overflow-y: scroll; 
}
.menuX {
    position: fixed;
    top: 0;
    right: 0.5vw;
    display: flex;
    align-items: center;
    padding: 0;
    color: #757575;
    margin: 0;
    font: 1.4vmax Tahoma, Verdana, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    z-index: 1100;
}
.menuX:hover {
    filter: brightness(75%);
}
@supports not selector(::-webkit-scrollbar) {
    .menu {
        scrollbar-width: thin;
        scrollbar-color: #757575 rgb(56, 53, 46, 0.85); 
    }
}
@supports selector(::-webkit-scrollbar) {
    .menu::-webkit-scrollbar {
        width: 0.6vw;
    }
    .menu::-webkit-scrollbar-track {
        background-color: transparent;
        margin-block: 3.5vh;
        border-radius: 4px;
      }
    .menu::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #757575;
        border: 2px solid transparent;
        background-clip: content-box; 
    }
    .menu::-webkit-scrollbar-thumb:hover {
       background-color: #8a8a8a;
    }
}

/* Flag Details menu */
#flagDetails {
    top: 0;
    left: 0;
}
#flagDetailsX {
    left: 23.5vw;
}
#flagRequirements, #containerContent {  
    font-size: 1.3vmax;
    display: none;
}
#containerContent {
    text-align: center;
}
#flagDescription {
    font-size: 1vmax;
    text-align: center;
    visibility: hidden;
    padding: 0 5%;
}
#containerContentDiv {
    justify-content: center;
    margin: 0;
    padding: 0;
}
#containerContentDiv .iti {
    padding-left: 0;
}
.flagDetailsTitle {
    text-decoration: underline;
    text-align: center;
    margin-top: 0;
    padding-top: 2vh;
    margin-bottom: 2vh;
    font-size: 1.4vmax;
}
.item {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 1vh;
    border-style: solid;
    border-color: #3f3f3f;
    border-radius: 10px;
    padding: 0.5vh 0 0.5vh 0.7vw;
}
.idot {
    font-size: 2vmax;
    margin: 0;
}
.ii {
    padding-right: 1vw;
    padding-left: 1vw;
}
.iti { 
    max-width: 3.5vmax;
    max-height: 3.5vmax;
}
.itis {
    max-width: 3vmax;
    max-height: 3vmax;
}
.oritems {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    margin-bottom: 1vh;
    padding-bottom: 0;
    border-style: solid;
    border-color: #3f3f3f;
    border-radius: 10px;
    padding-left: 0.7vw;
    padding-top: 1vh;
}
.oritf {
    display: flex;
    align-items: center;
    vertical-align: middle;
    width: 20vw;
}
.orits {
    display: flex;
    align-items: center;
    vertical-align: middle;
    width: 20vw;
    margin-top: -0.7vh;
}
.por {
    font-family: Arial, sans-serif;
    margin-left: 1.8vw;
    font-size: 1.4vmax;
    font-style: italic;
}
/* Settings menu */
#settings {
    right: 0;
    top: 0;  
    text-align: center;
}
#settings h2 {
    text-decoration: underline; 
    font-size: 1.3vmax;
    margin: 2vh 0;
}
#settingsButtons {
    display: flex;
    justify-content: center;
    column-gap: 2vw;
    font-family: Courier;
}
#settingsButtons button {
    width: 8vmax;
    max-width: 8vmax;
    height: 5.5vmin;
    max-height: 5.5vmin;
    min-height: 20px;
    min-width: 50px;
    background-color: #1d1a14;
    color:#c0c0c0;
    border-radius: 7px;
    font-size: 1vmax;
    cursor: pointer;
    margin-bottom: 1vh;
    font-family: Arial, sans-serif;
}
#settingsButtons button:hover {
    background-color: #272727;
}
#gamemodeSelection {
    padding-top: 2.5dvh;
    padding-bottom: 0.5dvh;
    text-align: center;
}
#gamemodesLabel {
    font-size: 1.2vmax;
    font-weight: bold;
    padding-bottom: 0.75dvh;
    cursor: auto;
}
#Gamemodes {
    background-color: #1d1a14;
    color:#c0c0c0;
    height: 4dvh;
    font-size: 1.05vmax;
    cursor: pointer;
}
#settingsCheckboxes {
    text-align: left;
    margin-left: 5%;
}
#settings h3 {
    font-size: 1.05vmax; 
    margin-bottom: 0.5%;
    margin-left: -1.5dvw;
    text-align: center;
    text-decoration: underline;
}
input[type="checkbox"] {
    height: 0.85vmax;
    aspect-ratio: 1;
    margin-left: 3%;
    margin-top: 2%;
    cursor: pointer;
}
label {
    display: block;
    font-size: 0.9vmax;
    cursor: pointer;
}
.bigSettingCheckbox[type="checkbox"] {
    height: 0.95vmax;
    aspect-ratio: 1;
    margin-top: 2.5%;
    cursor: pointer;
    margin-left: 0;
}
.bigSettingCheckboxLabel {
    font-size: 1.025vmax;
    cursor: pointer;
    line-break: strict;
    width: 25vw;
}
/* Controls Menu */
#controls {
    right: 0;
    top: 0;  
    text-align: center;
    font-size: 1.05vmax;
}
#controls h2 {
    font-size: 1.3vmax;
    text-decoration: underline;
}
#controls ul {
    text-align: left;
    padding-left: 2vw;
    padding-right: 1vw;
}
#controls li {
    margin-bottom: 1.8vh;
}
#controls b, #controls i {
    color: rgb(212, 212, 212);
    font-weight: bold;
}
/* Tracker menu */
#tracker {
    /* transition: none; */
    width: 29vw;
    right: 0;
    top: 0;
}
.disabled {
    pointer-events: none;
}
.tcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 0.8vw;
}
.tsubmenu {
    right: 0;
    top: 50%;
    transform: translate(0, -50%);  
    width: 29vw;
    height: 42vh;
    z-index: 1500;
    filter: brightness(100%);
}
.tsubmenuX {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1600;
}
#tquest, #tkeys {
    right: 4vw;
    width: 21vw;
    height: 16vh;
    column-gap: 1.2vw;
}
#truins {
    right: 6vw;
    width: 17vw;
    height: 14vh;
    column-gap: 1.2vw;
}
.tsubmenuO {
    position: relative;
    width: 3.75vmax;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.titem {
    position: relative;
    width: 3.75vmax;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
    filter: brightness(50%);
}
.titem:hover .tbox, .tsubmenuO:hover .tbox{
    filter: brightness(150%);
}
.tbox, .timage{
    position: absolute;
    top: 50%; 
    left: 50%;  
    transform: translate(-50%, -50%);  
    max-width: 100%;
    max-height: 100%;
}
.timage {
    max-width: 90%; 
    max-height: 90%;
    z-index: 1100;
}
.tdungeon {
    position: relative;
    width: 6.25vmax;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 0.1vw;
    row-gap: 0.5vh;
}
.tdungeon span {
    position: absolute;
    bottom: 98%;
    z-index: 1500;
    color: #c0c0c0;
    display: none;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 0.94dvw;
}
.tboss {
    width: 4.5vmax;
}
.tdkey {
    width: 3vmax;
}
.tcpt {
    position: absolute;
    display: none;
    z-index: 1200;
    bottom: 0;
    right: 0.3vw;
    font-size: 0.95vmax;
    border-radius: 100vw;
    padding: 2.5px 5px;
    background-color: #38352e;
}
/* Map Counters */
.cpt {
    position: absolute;
    top: 50%; 
    left: 50%;  
    transform: translate(-50%, -50%); 
    border-radius: 100vw;
    padding: 1.25px 5px;
}
.subcpt {   
    font-size: 12px;
    background-color: rgb(56, 53, 46, 0.85);   
}
.procpt {
    font-size: 20px;
    background-color: rgb(56, 53, 46, 0.9);
}

