/* Top right menu icons */
#menuicons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    z-index: 1000;
}
#menuicons > div {
    display: flex;
}
#menuicons > div div {
    display: grid;
    place-items: center;
    width: 2vw;
    height: 2vw;
    min-width: 20px;
    aspect-ratio: 1;
    border-style: solid;
    border-color: #38352e;
    border-width: 0.2vw;
    border-radius: 0.35vw;
    padding: 7px;
    cursor: pointer;
}
#menuicons > div div:hover {
    background-color: #2c2c2c;
}
#menuicons img {
    max-width: 100%;
    max-height: 100%;
    grid-area: 1 / 1;
}
#menuicons span {
    position: absolute;
    right: 115%;
    align-self: center;
    opacity: 0%;
    background-color: #38352e;
    padding: 1vh 0.4vw;
    border-radius: 0.35vw;
    font-size: 0.85vw;
    white-space: nowrap;
    transition: opacity 0.2s;
}
#menuicons > div div:hover + span {
    opacity: 100%;
}
/* General menus */
.menu {
    position: absolute;
    visibility: hidden;
    height: 100dvh;
    width: 0%;
    z-index: 1000;
    background-color: rgb(56, 53, 46, 0.85);
    border-radius: 8px;
    transition: width 0.1s;
    overflow-y: scroll; 
}
.rightMenu {
    right: 0;
}
.xButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #757575;
    font: 1.4vmax Tahoma, Verdana, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    z-index: 1500;
}
.menuX {
    position: fixed;
    top: 0;
    right: 0.5vw;
    width: 1.4vw;
    height: 1.4vw; 
}
.xButton:hover {
    color: #585858;
}
@supports not selector(::-webkit-scrollbar) {
    .menu, textarea {
        scrollbar-width: thin;
        scrollbar-color: #757575 rgb(56, 53, 46, 0.85); 
    }
}
@supports selector(::-webkit-scrollbar) {
    .menu::-webkit-scrollbar {
        width: 0.6vw;
        min-width: 5px;
    }
    textarea::-webkit-scrollbar {
        width: 0.4vw;
    }
    .menu::-webkit-scrollbar-track {
        background-color: transparent;
        /* margin-block: 3.5vh; */
        border-radius: 4px;
    }
    textarea::-webkit-scrollbar-track {
        margin-block: 0.5dvh;
    }
    .menu::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #757575;
        border: 2px solid transparent;
        background-clip: content-box; 
    }
    .menu::-webkit-scrollbar-thumb:hover {
       background-color: #8a8a8a;
    }
}

/* Flag Details menu */
#flagDetails {
    display: flex;
    flex-direction: column;
    row-gap: 1dvh;
    padding-left: 0.6vw;
    /* overflow-y: scroll; */
}
#flagDetailsX {
    left: 22.75%;
}
#flagDetails h3 {
    text-decoration: underline;
    font-size: 1.4vmax;
    text-align: center;
}
#flagDetails .bordered {
    border: solid 0.25vw #3f3f3f;
    border-radius: 0.65vw;
}
#flagDetails .insideBordered {
    border-radius: 0;
}
#flagNameDiv {
    text-align: center;
    font-size: 1.1dvw;
    padding: 1.5dvh 0.5vw;
}
#flagDescription {
    visibility: hidden;
}   
#flagDescriptionDiv {
    font-size: 1vw;
    text-align: center;
    padding: 0 2%;
}
#flagRequirements, #flagItem {  
    font-size: 1.2vw;
}
#flagItem {
    text-align: center;
}
#flagItemDiv {
    justify-content: center;
}
#flagRequirementsDiv {
    display: flex;
    flex-direction: column;
    row-gap: 0.25dvh;
}
.item {
    display: flex;
    align-items: center;
    padding: 0.5dvh 0;
}
#flagDetails img {
    padding-right: 1vw;
    max-width: 3.5vmax;
    max-height: 3.5vmax;
}
#flagRequirementsDiv span {
    font-size: 2vw;
    padding: 0 1vw;
}
.oritems {
    display: flex;
    flex-direction: column;
}
#flagRequirementsDiv .itemOr {
    padding-left: 0.65vw;
    font-size: 1.4vw;
    font-style: italic;
}
.separationOr {
    text-align: center;
    padding-bottom: 0.5dvh;
    font-size: 1.5vw;
    font-style: italic;
}

/* Settings menu */
#settings {
    text-align: center;
}
#settings h2 {
    text-decoration: underline; 
    font-size: 1.3vmax;
    margin: 2vh 0;
}
#settingsButtons {
    display: flex;
    justify-content: center;
    column-gap: 2vw;
    padding-top: 1.5dvh;
}
#settings button {
    width: 8vmax;
    max-width: 8vmax;
    min-width: 50px;
    height: 5.5vmin;
    max-height: 5.5vmin;
    min-height: 40px;
    background-color: #1d1a14;
    color:#c0c0c0;
    border-radius: 7px;
    font-size: 1vmax;
    cursor: pointer;
    margin-bottom: 1vh;
    font-family: Arial, sans-serif;
}
#settings button:hover {
    background-color: #272727;
}
.selectContainer {
    padding-top: 2.5dvh;
    padding-bottom: 0.5dvh;
    text-align: center;
}
#settings .selectLabel {
    display: block;
    font-size: 1.2dvw;
    font-weight: bold;
    padding-bottom: 0.75dvh;
    cursor: auto;
}
select {
    background-color: #1d1a14;
    color:#c0c0c0;
    height: 4dvh;
    min-height: 40px;
    font-size: 1.05vmax;
    padding: 0 5px;
    cursor: pointer;
}
#randoSeed {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2dvh;
    padding-top: 2dvh;
    padding-bottom: 1dvh;
}
#randoSeedFile {
    width: 75%;
    border: 0.1vw dashed #c0c0c0;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: background-color 0.1s, border-color 0.1s;
    user-select: none;
}
#randoSeedFile:hover {
    background-color: #3f3f3f;
}
#randoSeedFile:hover #randoSeedFileText {
    text-decoration: underline;
}
#randoSeedFile.dragover {
    background-color: #3f3f3f;
    border-color: #8a8a8a;
}

#randoSeedFileText {
    padding: 6dvh 1dvw;
    margin: 0;
    border-radius: 0.5vw;
    font-size: 0.9vw;
    line-height: 2.5dvh;
}
#spoilerLog {
    display: none;
    font-size: calc(5px + 0.3vw);
    width: 6.9dvw;
}
#settings #Unload_Seed {
    display: none;
    margin: 0;
}
#seedSettings {
    text-align: left;
    display: none;
}

#settingsCheckboxes {
    text-align: left;
    margin-left: 5%;
}
#settings h3 {
    font-size: 1.05vmax; 
    margin-bottom: 0.5%;
    margin-left: -1.5dvw;
    text-align: center;
    text-decoration: underline;
}
#settings input[type="checkbox"] {
    height: 0.85vmax;
    aspect-ratio: 1;
    margin-left: 3%;
    margin-top: 2%;
    cursor: pointer;
}
#settings label {
    font-size: 0.9vmax;
    cursor: pointer;
    white-space: nowrap;
}
#settings .bigSettingCheckboxLabel input {
    height: 0.95vmax;
    margin-top: 2.5%;
    margin-left: 0;
}
#settings .bigSettingCheckboxLabel {
    font-size: 1.025vmax;
}
#settings label::after {
    content: "\a";
    white-space: pre;
}
/* Controls Menu */
#controls {
    text-align: center;
    font-size: 1.05vmax;
}
#controls h2 {
    font-size: 1.3vmax;
    text-decoration: underline;
}
#controls ul {
    text-align: left;
    padding-left: 2vw;
    padding-right: 1vw;
    padding-bottom: 0.5dvh;
}
#controls li {
    margin-bottom: 1.8vh;
}
#controls b, #controls i {
    color: rgb(212, 212, 212);
    font-weight: bold;
}
/* Notes Menu */
#notes {
    text-align: center;
    overflow-y: hidden;
}
#notes > div {
    right: 0.1vw;
}
#notes h2 {
    font-size: 1.3vmax;
    text-decoration: underline;
}
#notes textarea {
    width: 92.5%;
    height: 90%;
    border-radius: 0.5dvw;
    padding: 0.5dvh 0.5dvw;
    background-color: #1d1a14;
    color: #c0c0c0;
    font-size: 0.75vw;
    line-height: 2.5dvh;
    resize: none;
}